@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;


}
:root{
    --main-color: rgb(44, 143, 44);
    --second-color: #ffac38;
    --text-color: #444;
    --gradient: linear-gradient(rgb(10, 121, 10), rgb(228, 228, 82));
}


html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
   background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--gradient);
    border-radius: 5rem;
 }

 section{
    padding: 50px 100px;
 }
 header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeff1;
    padding: 15px 100px;
 }
 .logo img{
    width: 100PX;

 }
 .navbar{
    display: flex;
 }
 .navbar li{
    position: relative;
 }
 .navbar li a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
 }
 .navbar a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.5s;
 }
 .navbar a:hover::after{
      width: 100%;
 }
 #menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: flex;
    display: none;
 }
 .header-btn a{
    padding: 10px 20px;
    color: #fff;
    font-weight: 500;
    background: var(--gradient);
    border-radius: 0.5rem;
    transition: 1s;


 }
 .header-btn a:hover{
    background: var(--main-color);
 }
 .home{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: url(Cocoa-powder-cocoa-beans.webp);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
 }
 .text h1{
   font-size: 3.5rem;
   letter-spacing: 2px;
   color: #eeeff1;
 }
 .text span{
   color: white;
 }
 .py-7{
   padding: 7rem o;
}
 .text p{
   margin: 00.5rem 0 1rem;
   color: #eeeff1;
 }
 .logo-2{
   color: #eeeff1;
 }
 .heading{
   text-align: center;
 }
 .heading span{
   font-weight: 500;
   text-transform: uppercase;
 }
 .heading h1{
   font-size: 2rem;
 }


 .about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  .about-img img{
    width: 75%;
    border-radius: 50px;
  }
  .about-text span{
    font-weight: 500;
    color: var(--main-color);
    text-transform: uppercase;
  }
  .about-text p{
    margin: 0.5rem 0 1.4rem;
  }
 .about-text .btn{
    padding: 10px 20px;
    background: #474fa0;
    color: #fff;
    border-radius: 0.5rem;
 }
 .about-text .btn:hover{
    background: var(--main-color);
 
 }
 #contact{
   background-color: rgb(248, 248, 248);
}
.contact-content{
   flex-direction: column;
   align-items: stretch;
}
.contact-left{
   margin-bottom: 5rem;
}
.contact-left .lead{
   padding: 0.5rem;
}
.contact-left form{
   margin-top: 3rem;
}
.contact-left form .form-control{
   display: block;
   margin: 1.6rem 0;
   border: 2px solid rgba(0, 0, 0, 0.3);
   padding: 1rem;
   width: 100%;
}
.contact-left form .form-control::placeholder{
   font-size: 15px;
   font-family: 'poppins'sans-serif;
}
.contact-left .btn-submit{
   padding: 1.4rem 3rem;
   font-family: 'poppins' sans-serif;
   background-color: var(--dark-color);
   color: var(--light-color);
   margin-top: 1rem;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 1.6rem;
   transition: var(--transition);
}
.contact-left .btn-submit:hover{
   background-color: #000;
   border-radius: 10px;
}


.title{
   margin-bottom: 3rem;
}
.title h2{
   text-transform: uppercase;
   letter-spacing: 3px;
   font-weight: 600;
   position: relative;
}
.title h2::after{
   position: absolute;
   content: '';
   top: 120%;
   left: 0;
   width: 70px;
   height: 4px;
   background-color: var(--dark-color);
}
.flex{
   display: flex;
   align-items: center;
   justify-content: center;
}

.container{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 2rem;
}
.lead{
   opacity: 0.8;
   padding: 1rem 0;
   font-size: 1.7rem;
   font-weight: 300;
   line-height: 1.8;
}
.contact h2{
   margin-bottom: 3rem;
}
.contact form{
   max-width: 70rem;
   margin: 1rem auto;
   text-align: center;
   margin-bottom: 3rem;
}
.contact form .input-box{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

}
.contact form .input-box input,
.contact form textarea{
   width: 75%;
   padding: 1.5rem;
   font-size: 1.6rem;
   color: var(--text-color);
   background: var(--bg-color);
   border-radius: .8rem;
   margin: .7rem 0;
   box-shadow: 0 .1rem .5rem var(--shadow-color);
} 
.contact form .input-box input{
   width: 49%;
}
.contact form textarea{
   resize: none;
}
.contact form .btn{
   margin-top: 2rem;
   cursor: pointer;
}

 
 .services-container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1rem;
    margin-top: 2rem;
  }
  .services-container .box{
    text-align: center;
    padding: 20px;
  }
  .services-container .box .bx{
    font-size: 34px;
    padding: 10px;
    background: #eeeff1;
    border-radius: 0.5rem;
    color: var(--main-color);
  }
  .services-container .box h2{
    font-family: 1.3rem;
    font-weight: 500;
    margin: 1.4rem 0 0.5rem;
  }
  .services-container .box .bx:hover, .services-container  .bx  .bxs-car-garage{
    background: var(--gradient);
    color: #fff;
  }

  .copyright{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--gradient);
 }


 @media (max-width:991px){
    header{
       padding: 18px 40px ;
    }
    section{
       padding: 50px 40px;
    }
 }
 
 @media (max-width:881px){
    .home{
       background-position: left;
 
    }
 }
 @media (max-width:786px){
    header{
       padding: 11px 40px;
    }
    #menu-icon{
       display: initial;
    }
    .sign-up{
       display: none;
    }
    .text h1{
       font-size: 2.5rem;
    }
    .home{
       grid-template-columns: 1fr;
 
    }
    header .navbar{
       position: absolute;
       top: -500px;
       left: 0;
       right: 0;
       display: flex;
       flex-direction: column;
       background: #fff;
       box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
       transition: 0.2s ease;
       text-align: left;
    }
    .navbar.active{
       top: 100%;
    }
    .navbar a{
       padding: 1rem;
       border-left: 2px solid var(--main-color);
       margin: 1rem;
       display: block;
    }
    .navbar a:hover{
       color: #fff;
       background-color: var(--main-color);
       border: none;
    }
    .navbar a::after{
       display: none;
 
    }
    .heading span{
       font-size: 0.9rem;
       font-weight: 600;
    }
    .heading h1{
       font-size: 1.3rem;
    }
    .about-container{
       grid-template-columns: 1fr;
       text-align: center;
    }
    .about-img{
       padding: 1rem;
       order: 2;
    }
    .contact form .input-box input{
      width: 39%;
   }
   .contact form .input-box input{
   width: 65%;
   padding: 1.5rem;
   font-size: 1rem;
   color: var(--text-color);
   background: var(--bg-color);
   border-radius: .8rem;
   margin: .7rem 0;
   box-shadow: 0 .1rem .5rem var(0, 0, 0, 1);
} 
    
 }
 
 @media (max-width:586px){
     .copyright{
       flex-direction: column;
     }
     .sponsors .box{
       width: 284px;
     }
 }
 @media (max-width:350px){
    header{
       padding: 4px 14px;
 
    }
    .logo img{
       width: 100px;
    }
    section{
       padding: 50px 14px;
    }
    .header-btn .sign-up{
       padding: 7px 10px;
       font-size: 14px;
       font-weight: 400;
    }
    .text h1{
       font-size: 2rem;
       
    }
    
 }